/*Universal selector*/
*{
	font-family:Tahoma;
	margin: 0;
	}
/*Class Selector*/	
.left{
	float:left;
	background-color:#D3D3D3;
	font-size: 20px;
}
.right{
		float: center;
}
/*class selector Combination*/

/*id selector*/
#blue{
	background-color:blue;
	}
#blue1{
		background-color:#00bcd4;
}
#red{
	background-color:red;
}
#green{
		background-color:#8bc34a;
}

/*id selector combination*/
/*Attribute selectors*/
[id="username"]
{
	background-color: red;
}

